/* Ваші стилі тут */
body {
    font-family: Arial, sans-serif;
  }
  
  h2 {
    color: #333;
  }
  
  button {
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    opacity: 0.8;
  }
  